@import "vars";

%close-button {
  cursor: pointer;
  color: $accentColor;
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 900;
  font-size: 3em;
  font-family: $bodyFontFamily;
}

.watch-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  width: 0;
  height: 0;
  border-bottom: ($posterWidth / 3) solid transparent;
  border-left: ($posterWidth / 3) solid transparent;
  z-index: 1;
  transition: all 0.5s;
  cursor: pointer;

  &:after {
    content: "visibility";
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 3em;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    position: absolute;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    right: 10px;
    bottom: -2.5em;
    /* transform: rotate(-45deg); */
    z-index: 1;
    opacity: 0;
  }

  &:hover {
    border-bottom: ($posterWidth / 3) solid #8b7638;
    &:after {
      opacity: 1;
    }
  }
}

.watched {
  color: white;
  .filter {
    position: absolute;
    width: 100%;
    height: 100%;
    // backdrop-filter: sepia(1);
  }
  img {
    filter: sepia(100%);
    transition: all 1s;
  }
  &:hover {
    .filter {
      // backdrop-filter: sepia(0);
    }
    img {
      filter: sepia(0);
    }
  }

  .watch-btn {
    border-bottom: ($posterWidth / 3) solid #8b7638;
    &:after {
      opacity: 1;
    }
    &:hover:after {
      content: "visibility_off";
    }
  }
}


.tgl {
  display: none;

  // add default box-sizing for this scope
  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before,
  & + .tgl-btn {
    box-sizing: border-box;
    &::selection {
      background: none;
    }
  }

  + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none;
    &:after,
    &:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
    }

    &:after {
      left: 0;
    }

    &:before {
      display: none;
    }
  }

  &:checked + .tgl-btn:after {
    left: 50%;
  }
}

// themes
.tgl-light {
  + .tgl-btn {
    background: #777777;
    border-radius: 2em;
    padding: 2px;
    transition: all .4s ease;
    &:after {
      border-radius: 50%;
      background: #fff;
      transition: all .2s ease;
    }
    &:before {
      display: table-cell;
      vertical-align: middle;
      content: "No";
      color: #d0d0d0;
      position: absolute;
      right: -2.5em;
      line-height: 1.9em;
      text-align: center;
    }
  }

  &:checked + .tgl-btn {
    background: $accentColor;

    &:before {
      display: table-cell;
      vertical-align: middle;
      content: "Yes";
      color: white;
      position: absolute;
      right: -2.5em;
      line-height: 1.9em;
      text-align: center;
    }
  }
}
