

.filters-page {
  ul {
    li {
      font-size: 2em;
      display: flex;
      align-items: center;
      height: 3em;
      // justify-content: space-between;
      color: #f0f0f0;

      label {
        margin-left: 1em;
      }

      &:hover {
        color: white;
      }
    }
  }

  .sorting {
    select {
      margin-left: 1em;
      font-size: 1.5em;
      padding: 0.1em;
      border-radius: 0.1em;
    }
  }
}
