
@import "vars";
@import "animsta";

.panel {
  width: calc(100% - #{$sideBarWidth});
  height: calc(100vh - #{$topBarHeight});
  background-color: transparent;
  position: absolute;
  right: 0;
  z-index: 1;
  //box-shadow: inset 0px -42px 42px #000000;

}