@import "vars";
@import "animsta";

.top-bar {
  width: 100%;
  position: relative;
  background: $blackBackground;
  /*box-shadow: 0px 3px 10px #03040bb5;*/
  height: $topBarHeight;
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > div {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  > div:first-child {
    overflow: hidden;
  }

  .logo {
    user-select: none;
    -webkit-app-region: no-drag;
    width: $topBarHeight;
    height: $topBarHeight;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    background-image: url("../images/angry-rooster.jpg");
    background-position: center center;
    background-size: 130px 130px;

    &:hover {
      @extend .vibrate-1;
    }
    img {
      width: 130px;
      height: 130px;
    }
  }

  .search {
    -webkit-app-region: no-drag;
    padding-left: 1em;

    input {
      font-size: 3em;
      background: transparent;
      border: none;
      color: white;
      padding: 0 0.4em;
      outline: none;
      width: 6em;

      &:focus, &:active {
        border-bottom: 1px solid #cccccccf;
      }
    }
    i {
      user-select: none;
      color: white;
      position: relative;
      left: -1.7em;
      cursor: pointer;

      &:hover {
        color: $accentColor;
      }
    }
  }
  .filter {
    display: block;
    user-select: none;
    -webkit-app-region: no-drag;
    margin-left: 2em;
    cursor: pointer;
    color: white;

    &.active {
      color: $accentColor;
    }

    i {
      font-size: 3em;
    }
    &:hover i {
      color: $accentColor;
    }
  }
  .refresh {
    user-select: none;
    -webkit-app-region: no-drag;
    float:left;
  }
  .user {
    user-select: none;
    -webkit-app-region: no-drag;
    float: left;
    color: white;
    position: relative;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    right: $topBarHeight * 2;
    height: $topBarHeight;
    box-sizing: border-box;
    width: 100%;
    z-index: 2;
    cursor: pointer;
    i {
      font-size: 1.3em;
      margin-right: 20px;
      margin-left: 20px;
    }
    ul {
      list-style: none;
      position: absolute;
      top: 64px;
      left: 0;
      background: black;
      border-top: 1px solid red;
      width: 100px;
      box-sizing: content-box;
      @extend .fade-in;

      li {
        padding: 0.5em;
        &:hover {
          background-color: $accentColor;
        }
      }
    }
  }
  .close {
    user-select: none;
    -webkit-app-region: no-drag;
    @extend %close-button;
    width: $topBarHeight;
    height: $topBarHeight;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    z-index: 2;
    i {
      transition: all 500ms;
    }
    &:hover {
      background-color: $accentColor;
      color: black;
      i {
        transform: scale(1.5);
      }
    }
  }
  .maximize {
    @extend .close;
    right: $topBarHeight;
  }
}
