@import "vars";
@import "animsta";

.top-bar {
  width: 100%;
  position: relative;
  background: $blackBackground;
  /*box-shadow: 0px 3px 10px #03040bb5;*/
  height: $topBarHeight;
  -webkit-app-region: drag;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > div {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .logo {
    user-select: none;
    -webkit-app-region: no-drag;
    width: $topBarHeight;
    height: $topBarHeight;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    background-image: url("../images/angry-rooster.jpg");
    background-position: center center;
    background-size: 130px 130px;

    &:hover {
      @extend .vibrate-1;
    }
    img {
      width: 130px;
      height: 130px;
    }
  }

  .search {
    -webkit-app-region: no-drag;
    padding-left: 1em;

    input {
      font-size: 3em;
      background: transparent;
      border: none;
      color: white;
      padding: 0 0.4em;
      outline: none;
      width: 6em;

      &:focus, &:active {
        border-bottom: 1px solid #cccccccf;
      }
    }
    i {
      user-select: none;
      color: white;
      position: relative;
      left: -1.7em;
      cursor: pointer;

      &:hover {
        color: red;
      }
    }
  }
  .refresh {
    user-select: none;
    -webkit-app-region: no-drag;
    float:left;
  }
  .user {
    user-select: none;
    -webkit-app-region: no-drag;
    float:left;
  }
  .close {
    user-select: none;
    -webkit-app-region: no-drag;
    @extend %close-button;
    width: $topBarHeight;
    height: $topBarHeight;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      transition: all 500ms;
    }
    &:hover {
      background-color: red;
      color: black;
      i {
        transform: scale(1.5);
      }
    }
  }
  .maximize {
    @extend .close;
    right: 1.5em;
  }
}
