
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
    font-family: SansSerif;
}

.videos {
    /*display: flex;*/
    /*align-items: center;*/
}
video-card {
    float: left;
    display: block;
    margin: 6px;
}

.video {
    width: 224px;
    height: 314px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 40px #000;
    z-index: 1;
}
.video:hover {
    box-shadow: none;
}
.video img {
    width: 224px;
    height: 314px;
    z-index: -1;
}


video-details {
    display: block;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.85);
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    padding: 5em;
    outline: none;
}
.video-details {
    position: relative;
    width: 100%;
    height: 100%;

    color: white;
    letter-spacing: 0.2em;
    font-family: sans-serif;
}
.video-details .poster {
    float: left;
    margin-right: 5em;
    height: 100%;
}
.video-details h1 {
    font-size: 6em;
    font-family: fantasy;
    padding-right: 0.5em;
}
.video-details p {
    font-size: 2em;
    letter-spacing: 1px;
}
.video-details .close {
    cursor: pointer;
    color: red;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 900;
    font-size: 3em;
}